.crucibletongs-action-hud {
    --radius: 100px;
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    position: absolute;
}

.crucibletongs-action-hud-content {
    position: relative;
}

.crucibletongs-action-button {
    background: none;
    width: 50px;
    height: 50px;
    --x: 0;
    --y: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    background-size: cover;
    left: calc(var(--x) - 15px);
    top: calc(var(--y) - 15px);
    border-radius: 50%;
    border: 2px solid #333;
    transition: all 0.05s ease-in-out;

    &.collapsed {
        opacity: 0.5;
        transform: scale(0.8);
    }

    &:hover {
        border-color: darkred;
        box-shadow: 0 0 10px darkred;
    }

    &.crucibletongs-action-close {
        left: 50%;
        top: var(--radius);
        transform: translate(-50%, -50%);
        background-color: #333;
        color: wheat;
    }
}

.crucibletongs-actor-hud {
    --color-frame: #3f3128;
    --ressource-color: #FF9900;
    --text-color: #cfbea2;

    pointer-events: all;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;

    .crucibletongs-hotbar-inner {
        position: relative;
    }

    .actions-bar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        max-height: 88px;
        min-height: 88px;
        height: 88px;
        transition: all 0.3s ease-in-out;
    }

    .tabs {
        justify-content: start;
        gap: 1px;
    }

    .tabs a {
        width: 30px;
        height: 30px;
        background: black;
        border: 2px solid var(--color-frame);
        cursor: var(--cursor-pointer);

        &.active {
            border-color: darkred;
            box-shadow: 0 0 10px darkred;
        }

        &:hover {
            border-color: var(--color-warm-1);
            box-shadow: 0 0 10px var(--color-warm-1);
        }
    }

    .slot {
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        background-color: rgba(28, 26, 26, 0.8);
        border: 2px solid var(--color-frame);
        cursor: var(--cursor-pointer);
        position: relative;

        &.drop-target {
            background: var(--color-cool-4);
            border-color: var(--color-warm-2);
        }

        .key {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            line-height: 20px;
            padding-right: 2px;
            background: var(--key-bg-color-empty, var(--color-cool-5));
            border-radius: 10px 0 8px 0;
            color: var(--key-text-color, var(--color-light-1));
            text-align: center;
            pointer-events: none;
        }

        img {
            object-fit: contain;
            width: 40px;
            height: 40px;
        }

        &:hover {
            border-color: darkred;
            box-shadow: 0 0 10px darkred;
        }
    }

    .pips {
        flex: 0 0 100px;
        justify-content: center;
        gap: 4px 0;

        &.focus {
            --ressource-color: #0066FF;
        }

        &.heroism {
            --ressource-color: #ff0059;
        }
    }

    .pips .pip {
        flex: 0 0 10px;
        height: 10px;
        border: 1px solid var(--color-frame);
        background: black;
        border-radius: 7px;

        &.double {
            border-color: var(--resource-color);
        }

        &.full:before {
            display: block;
            content: "";
            width: 6px;
            height: 6px;
            margin: 1px;
            background: var(--ressource-color);
            border-radius: 50%;
        }
    }

    .avatar-container {
        position: relative;
        min-width: 180px;
        align-items: center;
        justify-content: center;
    }

    .avatar {
        position: relative;
        z-index: 1;
        width: 100px;
        flex: 0 0 100px;
        min-width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid var(--color-frame);
        object-fit: contain;
        background: rgba(28, 26, 26, 0.5);
        pointer-events: none;

        &.myRound {
            border-color: darkred;
        }
    }
    
    .temporaryEffects {
        gap: 2px;
        margin-bottom: 8px;
    }

    .actor-actions-hud {
        align-self: end;
    }

    button {
        border-color: var(--color-frame);
        background: rgba(28, 26, 26, 0.5);
        color: var(--text-color);

        &:hover {
            border-color: darkred;
            box-shadow: 0 0 10px darkred;
        }
    }


    .resources {
        position: relative;
        align-items: center;
        justify-content: center;
        top: 10px;
        gap: 40px;

        z-index: 1;

        div {
            border: 2px solid var(--color-frame);
            background: rgba(28, 26, 26, 0.8);
            border-radius: 7px;
            padding: 2px;
            color: white;
        }
    }

    .tongs-indicator,
    .tongs-indicator i:before {
        text-align: center;
        text-shadow:
            -1px -1px 0 var(--color-frame),
            1px -1px 0 var(--color-frame),
            -1px 1px 0 var(--color-frame),
            1px 1px 0 var(--color-frame);
    }

    .quickbuttons {
        align-items: center;
        justify-content: center;
        margin-top: -10px;
        position: relative;
        z-index: 1;
    }


    .weapon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid var(--color-frame);
        background: rgba(28, 26, 26, 0.8);
        cursor: var(--cursor-pointer);
        color: var(--text-color);
        position: absolute;
        z-index: 2;

        &:hover {
            border-color: darkred;
            box-shadow: 0 0 10px darkred;
        }

        img {
            border-radius: 50%;
            object-fit: contain;
        }
    }
}